.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.cardl {
  margin: 20px auto;
  width: 300px;
  height: 150px;
  border-radius: 25px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.15), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
  background-color:white;
  
}

.cardl .card_image {
  width: auto;
  height: 120px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  
}

.cardl .card_image img {
  width: auto;
  height: 120px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  opacity: 0.3;
}

.cardl .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  
  font-size: 20px;
  margin-top: -5px;
  height: 40px;
  
}

.cardl:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(240, 236, 236, 0.884), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: #666262;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/