@font-face {
  font-family: 'Avenir';
  src: url('../landingpage/fonts/26301410506.ttf') ;
}
body {
  font-family:  'Avenir', Helvetica, sans-serif;
  text-align: left;
}

label{
  font-family:  'Avenir', Helvetica, sans-serif;
}

table {
  width: 100%;
  border-spacing: 0;
  border-radius: 1em;
  overflow: hidden;
  align-content: left;
  font-family:  'Avenir', Helvetica, sans-serif;;
  text-align: left;
}

thead {
 visibility: hidden;
 position: absolute;
 width: 0;
 height: 0;
  text-align: left;
}

.theader {
  background: #215A8E;
  color: #fff;
  text-align: left;
}

td:nth-child(1) {
  background: #215A8E;
  color: #fff;
  border-radius: 1em 1em 0 0;
  text-align: left;
}

th, td {
  padding: 1em;
}

tr, td {
  display: block;
  text-align: left;
}

td {
  position: relative;
}

td::before {
  content: attr(data-label);
  position: absolute;
  left: 0;
  padding-left: 1em;
  font-weight: 600;
  font-size: .9em;
  text-transform: uppercase;
}

tr {
  margin-bottom: 1.5em;
  border: 1px solid #ddd;
  border-radius: 1em;
  text-align: left;
}

tr:last-of-type {
  margin-bottom: 0;
}

td:nth-child(n+2):nth-child(odd) {
  background-color: #ddd;
}


@media only screen and (min-width: 768px) {
  
  table {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid rgb(231, 228, 228);
    font-family:  'Avenir', Helvetica, sans-serif;
  }
  
  thead {
    visibility: visible;
    position: relative;
  }
  
  th {
    text-align: left;
    text-transform: uppercase;
    font-size: .9em;
  }
  
  tr {
    display: table-row;
    border: none;
    border-radius: 0;
    text-align: left;
  }
  
  tr:nth-child(even) {
  background-color: rgb(250, 249, 249);
}
  
  td {
    display: table-cell;
  }
  
  td::before {
    content: none;
  }
  
  td:nth-child(1) {
    background: transparent;
    color: rgb(197, 194, 194);
    border-radius: 0;
  }
  
  td:nth-child(n+2):nth-child(odd) {
    background-color: transparent;
  }
  
  
}